
/* HEADER */
.container-header {
    height: 80px;
    padding-right: 100px;
    background: linear-gradient(90deg, #910DFF 0%, #000000 100%);
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 650px;
}
.menubar {
    display: none;
}

.logo {
    position:absolute;
    top:-1px;
    left:50px;
    height: 130px;
    z-index: 1;
}


@media screen and (max-width: 1000px) {
    /* HEADER */
    .container-header{
        position: relative;
    }

    .container-text{
        left:100px;
    }

    .menubar {
        display: inline-block;
    }
    .menu {
        display: none; /* inicializa oculto */
        position: absolute;
        top: 40px;
        right: 135px;
        z-index: 1;
        
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(90deg, #910DFF 0%, #000000 100%);
        align-items: center;
        
    }

    .menu-ativo {
        display: flex;
    }

    /* Promoções - geral */
    .container_promo .container-itens{
        display: none;
    }
    .container_promo .container_menu_sec{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}