<header class="container-header d-flex justify-content-end align-items-center">
    <a routerLink=""><img class="logo" src="assets/img/GAME MANIA_white.png" alt="Logo do site Game Mania"></a>
    <nav id="menu" class="menu">
        <a routerLink="" target="_self" title="Vai para página de Lançamentos">Lançamentos</a>
        <a routerLink="" target="_self" title="Vai para página de Sobre">Sobre</a>
        <a routerLink="/workform" target="_self" title="Vai para página de Contato">Contato</a>           
        <!-- <a href="./login.html" target="_self" title="Vai para página de Login">Login</a> -->
        <a routerLink="/login" target="_self" title="Vai para página de Login">Login</a>
    </nav>
    <!--Menu de barras-->
    <!-- <a id="menubar" onclick="mostrarMenu()"><img class="menubar" src="img/menu.png" alt="menu do site Game Mania"></a> -->

    <!--Menu de barras Jquey-->
    <a id="menubar"><img class="menubar" src="assets/img/menu.png" alt="menu do site Game Mania"></a>
</header>