<section> <!-- BANNER -->
    <div class="container-banner d-flex justify-content-around align-content-center"> 
        <div id="carousel" class="container-img img-1" alt="imagem do banner"></div>
        <div class="container-text flex_column_between">
            <p>mais de<br />
            <span class="text_span">3 MIL</span><br />
            entregas todos os meses</p>
            <p>mais de<br />
            <span class="text_span">20 MIL</span><br />
            equipamentos para você !</p>
            <p>Entrega para todo o território nacional</p>
        </div>
        <div class="flex_column_evenly"><img class="watermark" src="assets/img/watermark.png" alt="imagem do watermark"></div>
    </div>
</section>
<section> <!-- Fabricantes --> 
    <div class="container-fab">
        <div class="d-flex justify-content-around flex-wrap">
            <img src="assets/img/fab/dell.png" alt="imagem do dell">
            <img src="assets/img/fab/intel.png" alt="imagem do intel">
            <img src="assets/img/fab/logotipo-ibm.jpg" alt="imagem do ibm">
            <img src="assets/img/fab/amd.png" alt="imagem do amd">
            <img src="assets/img/fab/nvidia-removebg-preview.png" alt="imagem do nvidia" style="height: 100px; mix-blend-mode: normal">
        </div>
    </div>
</section>
<section> <!-- Promoções -->
    <div class="container_promo d-flex justify-content-around flex-wrap">
        <div class="container_menu_sec flex_column_between">
            <a href="#" class="button_menu_sec">PC Gamer</a>
            <a href="#" class="button_menu_sec">Notebooks</a>
            <a href="#" class="button_menu_sec">jogos</a>
            <a href="#" class="button_menu_sec">Teclado/Mouse</a>
            <a href="#" class="button_menu_sec">Headsets</a>
            <a href="#" class="button_menu_sec">Monitores</a>
            <a href="#" class="button_menu_sec">Acessórios</a>
        </div>             
        <div class="flex_column_evenly container-itens">
            <div class="flex_center"><img class="img" src="assets/img/equipamentos/pc montado/pc.jpg" alt="pc"></div>
            <a href="#" class="tit">Pc completo gamer i9-7700k</a>
            <a href="#" class="desc">Pc gamer Completo I9 7º geração GTX 1650 4GB 32GB RAM DDR3 HD 1TB SSD 480GB Fonte 750w Monitor 27 Pol ...</a>
            <a href="#" class="desc_link flex_center">Ver detalhes do produto</a>
            <a href="#" class="desc price_olde">R$ 11.199,90</a>
            <a href="#" class="tit">R$ 8.899,90</a>
            <a href="#" class="button-send">Comprar</a>
        </div> 
        <div class="flex_column_evenly container-itens">
            <div class="flex_center"><img class="img" src="assets/img/equipamentos/headsets/headset.jpg" alt="pc"></div>
            <a href="#" class="tit">Headset Arctis Pro RGB 7.1</a>
            <a href="#" class="desc">Envolva-se com um som poderoso enquanto joga com o atual fone de ouvido sem fio SteelSeries Arctis 9X ...</a>
            <a href="#" class="desc_link flex_center">Ver detalhes do produto</a>
            <a href="#" class="desc price_olde">R$ 2.199,90</a>
            <a href="#" class="tit">R$ 1.899,90</a>
            <a href="#" class="button-send">Comprar</a>
        </div>
        <div class="flex_column_evenly container-itens">
            <div class="flex_center"><img class="img" src="assets/img/equipamentos/keyboards/teclado.png" alt="pc"></div>
            <a href="#" class="tit">Teclado Dell Alienware RGB</a>
            <a href="#" class="desc">Feito para proporcionar o melhor desempenho. Repleto de recursos e com belíssimo design ...</a>
            <a href="#" class="desc_link flex_center">Ver detalhes do produto</a>
            <a href="#" class="desc price_olde">R$ 1.499,90</a>
            <a href="#" class="tit">R$ 1.299,90</a>
            <a href="#" class="button-send">Comprar</a>
        </div>                            
    </div>
</section>
<section> <!-- About --> 
    <div class="container_about flex_evenly">
        <div class="font_about flex_column_evenly">
            <p>Nossa missão<br />
            Inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos, entretenimento<br />
            e inovação, causando uma emoção inédita, criando experiências e prazeres.</p>
            <p>Nossa visão<br />
            Ampliar o público-alvo e as nossas ações no mundo gamer e tecnológico.</p> 
            <p>Nossos valores<br />
            Ética, inovação, respeito aos clientes e à lei.</p>
        </div>
        <div class="flex_column_evenly"><img class="watermark" src="assets/img/watermark.png" alt="imagem do watermark"></div>
    </div>
</section>