<footer> <!-- Footer --> 
    <div class="container_footer d-flex justify-content-around flex-wrap">
        <div class="container_column">
            <div>
                <p class="title">Atendimento</p>
                <p class="desc">avenida Brasil, 45 - SP<br />
                vendas@GameMania.com.br<br />
                +55 (11) 3999-8999<br />
                atendimento seg. sex. 8:00-18:00</p>
            </div>
        </div>
        <div class="container_column">
            <div>
                <p class="title">Redes Sociais</p>
                <div>
                    <img class="social" src="assets/img/social/facebook.png" alt="imagem do facebook">
                    <img class="social" src="assets/img/social/instagram.png" alt="imagem do instagram">
                    <img class="social" src="assets/img/social/youtube.png" alt="imagem do youtube">
                </div>
            </div>
            <div>
            <form action="" class="">
                <br />
                <p class="title">NewsLetter</p>
                <p class="desc">cadastre-se para receber novidades!<br />
                <input id="campo-email" type="email" placeholder="E-mail" required class="input-NewsLetter">
                <button onclick="cadastrarNewsLetter()" class="button-NewsLetter">Cadastrar</button>
            </form>
        </div>
        </div>
        <div class="container_column">
            <div>
                <p class="title">Formas de pagamento</p>
                <div>
                    <img class="flags" src="assets/img/flags/pag_pd_peqcartaohiper.webp" alt="imagem do pag_pd_peqcartaohiper">
                    <img class="flags" src="assets/img/flags/pag_peqamextraycheckout.webp" alt="imagem do pag_peqamextraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqbase.webp" alt="imagem do pag_peqbase">
                    <img class="flags" src="assets/img/flags/pag_peqboletotraycheckout.webp" alt="imagem do pag_peqboletotraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqcartaohiperit.webp" alt="imagem do pag_peqcartaohiperit">
                    <img class="flags" src="assets/img/flags/pag_peqcartavisatraycheckout.webp" alt="imagem do pag_peqcartavisatraycheckout">
                </div>
                <div>
                    <img class="flags" src="assets/img/flags/pag_peqdinerstraycheckout.webp" alt="imagem do pag_peqdinerstraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqelotraycheckout.webp" alt="imagem do pag_peqelotraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqitaushoplinetraycheckout.webp" alt="imagem do pag_peqitaushoplinetraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqmastercardtraycheckout.webp" alt="imagem do pag_peqmastercardtraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqmercadopago.webp" alt="imagem do pag_peqmercadopago">
                    <img class="flags" src="assets/img/flags/pag_peqpaypal.webp" alt="imagem do pag_peqpaypal">
                </div>
                <div>
                    <img class="flags" src="assets/img/flags/pag_peqtransfbbtraycheckout.webp" alt="imagem do pag_peqtransfbbtraycheckout">
                    <img class="flags" src="assets/img/flags/pag_peqtransfbradescotraycheckout.webp" alt="imagem do pag_peqtransfbradescotraycheckout">
                </div>                                       
            </div>
            <div>
                <p class="title">Aplicativos de celular</p>
                <div>
                    <img class="apps" src="assets/img/appstore/android.svg" alt="imagem do android">
                    <img class="apps" src="assets/img/appstore/ios.svg" alt="imagem do ios">
                </div>
                <div>
                    <img class="apps" src="assets/img/appstore/AppGallery.svg" alt="imagem do AppGallery">
                </div>                    
            </div>
        </div>
    </div>
    <div class="container_copyright text_copyright font_about flex_center">
        <p>Copyright 2022 © Todos os direitos reservados.<br />
        O conteúdo do site não pode ser editado, copiado ou distribuído sem expressa autorização.</p>
    </div>
</footer>