<section class="background flex_center_center">
    <div class="flex_between_center">
        <div>
            <a routerLink=""><img class="logo" src="assets/img/GAME MANIA_white.png" alt="Logo do site Game Mania"></a>
        </div>
        <div>
            <form class="flex_between_center" (ngSubmit)="receberDados()">
                <div class="flex_column_between">
                    <input type="nome" name="nome" id="nome" maxlength="50" placeholder="Nome" [(ngModel)]="userModel.nome">
                    <input type="email" name="email" id="email" maxlength="50" placeholder="Email" [(ngModel)]="userModel.email">
                    <input type="password" name="password" id="password" placeholder="Senha" [(ngModel)]="userModel.password">
                    <!-- <input type="password" name="password" id="password" placeholder="Repetir senha" [(ngModel)]="userModel.password"> -->
                </div>
                <!-- espaçamento dos campos e botão -->
                <div><p>&nbsp;</p></div>
                <div>
                    <a><input type="submit" value="Registrar" class="btn"></a>
                </div>
            </form>
            <!-- se variável vazio, pule linha -->
            <p id="mensagem" *ngIf="mensagem ==''"><br></p>
            <!-- se variável não vazio, mostre variavel -->
            <p id="mensagem" *ngIf="mensagem !=''">{{mensagem}}</p>
            <div class="flex_between_center">
                <div>
                    <p><a routerLink="/login">voltar para login</a></p>
                </div>
                <div>
                    <p>usuário:<br>
                    <a routerLink="/register">consultar</a>
                    <a>/</a>
                    <a routerLink="/update">atualizar</a></p>
                </div>
            </div>
        </div>
    </div>
</section>