/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 20;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, p {
    color:white;
    font-family: arial;
    font-size: 30px;
    text-decoration: none;
}

.flex_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_column_evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex_column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.flex_evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* watermark */
.watermark {
    position:absolute;
    z-index: 1;
    right:50px;
    width: 350px;
    height: 263px;
}